---
import { Image } from "astro:assets";
import Button from "../Button.astro";
---

<section id="about-me" class="px-24 bg-gray-900">
  <div class="py-32">
    <div class="uppercase text-lg text-green-500 mb-4">about me</div>
    <div class="grid grid-cols-2 gap-40 items-end mb-6">
      <div>
        <h2 class="text-4xl font-medium mb-4">
          I've been developing web apps since 2022
        </h2>
        <p class="text-gray-400 text-sm leading-6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex
          praesentium asperiores voluptas ipsa. Dolor in, doloribus commodi
          illum impedit deleniti, voluptates quaerat et ducimus dignissimos
          tempore, omnis.
        </p>
      </div>
      <div>
        <div class="grid grid-cols-2 mb-4">
          <div class="flex items-end gap-3">
            <div class="text-7xl font-medium">3</div>
            <div class="mb-2 leading-5 font-normal text-lg">
              <div>Years of</div><div>experience</div>
            </div>
          </div>
          <div class="flex items-end gap-3">
            <div class="text-7xl font-medium">4</div>
            <div class="mb-2 leading-5 font-normal text-lg">
              <div>Successful</div><div>projects</div>
            </div>
          </div>
        </div>
        <p class="text-gray-400 text-sm leading-6">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum ex
          labore expedita aliquid maxime, distinctio harum aspernatur provident
          laborum ab cupiditate quae nam accusamus nisi soluta odio officiis ea
          veritatis
        </p>
      </div>
    </div>
    <Button icon="arrow-right">More about me</Button>
  </div>
  <div class="border-t border-t-gray-700 py-12 flex items-center">
    <div class="uppercase font-medium text-lg flex-none">
      previously worked at
    </div>
    <div class="flex items-center gap-16 opacity-80 flex-auto justify-end">
      <Image
        src="/lesaffre.png"
        height={69 / 2.5}
        width={459 / 2.5}
        alt="Lesaffre"
      />
    </div>
  </div>
</section>
