---
const { icon } = Astro.props;
---

<button
  class="bg-green-600 text-black rounded px-5 h-10 border border-green-950 flex items-center"
>
  {icon && <i class={`ti ti-${icon} text-lg mr-2 -ml-2`} />}
  <span class="uppercase font-medium text-sm">
    <slot />
  </span>
</button>
