---
import SocialLink from "./SocialLink.astro";
---

<nav class="flex md:gap-3 gap-2">
  <SocialLink href="https://github.com/yahyaeddhissa" icon="brand-github" />
  <SocialLink
    href="https://www.linkedin.com/in/yahya-eddhissa"
    icon="brand-linkedin"
  />
  <SocialLink
    href="https://stackoverflow.com/users/18075667/yahya-eddhissa"
    icon="brand-stackoverflow"
  />
  <SocialLink
    href="https://dribbble.com/yahya_eddhissa"
    icon="brand-dribbble"
  />
  <SocialLink
    href="https://www.behance.net/yahyaeddhissa"
    icon="brand-behance"
  />
  <SocialLink href="https://x.com/yahya_eddhissa" icon="brand-x" />
  <SocialLink
    href="https://www.instagram.com/yahyaeddhissa"
    icon="brand-instagram"
  />
</nav>
